.App {
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #282c34;
}

li {
  list-style: none;
  padding: 15px;
  > a {
    text-decoration: none;
    color: white;
    padding: 15px;
  }
  .active {
    background-color: #a1a92c;
  }
}

.App {
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    margin: 20px;
    width: auto;
    height: 100%;
    .column {
      .card {
        > img {
          object-fit: fill;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

footer {
  background-color: #a1a92c;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
